@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
body {
  font-family: "Poppins", sans-serif;
  @apply text-stone-900;
  @apply bg-white;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

a {
  display: inline-block;
}

/* layout container for the whole page */
.section-center {
  @apply w-11/12;
  @apply mx-auto;
  @apply max-w-6xl;
}

/* button css with underline animation */
.btn-custom {
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.btn-custom:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  @apply bg-amber-500;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.btn-custom:hover {
  @apply text-amber-500;
}
.btn-custom:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Social Media Icons btn */

.btn-social {
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.btn-social:hover {
  @apply text-amber-500;
}

/* triangle shape for hero image */
.triangle {
  width: 0;
  height: 0;
  border-bottom: 500px solid rgb(252, 211, 77);
  border-left: 500px solid transparent;
}
